<div class="pagination-links">
  <div>
    {% if prev_i < 0 %}
      <a class="grayed-out" disabled="true">
        <span>Previous</span>
      </a>
    {% else %}
      <a href="{{ sorted_pages[prev_i].url | relative_url }}">
        ⇦ <span>Previous</span>
      </a>
    {% endif %}
  </div>
  <div>
    {% if page.book_title %}
      {% assign this_book = page.book_title %}
      {% assign full_book = site.pages | where_exp: "page", "page.book_title == this_book" | where_exp: "page", "page.type == chapter" %}
        {% for page in full_book %}
          <a href="{{ page.url | relative_url }}">
            {{ page.book_title }}
          </a>
        {% endfor %}
      {% if page.book_title and page.chapter_number %}
        <span class="separator">|</span>
        <span class="chapter-title">{{ page.title }}</span> 
      {% endif %}

    {% elsif page.category %}
      {% assign lowercase_title = page.title | downcase %}
      {% if page.category != lowercase_title %}
        {% if page.category == "documentation" %}
        <a href="/edition_template/documentation">Documentation</a>
        {% else %}
        <span class="page-category">{{ page.category | capitalize }}</span>
        {% endif %}
        <span class="separator">|</span> 
        <span class="chapter-title">{{ page.title }}</span>
      {% endif %}
    {% endif %}
  </div>
  <div>
    {% if num_of_pages > next_i %}
      <a href="{{ sorted_pages[next_i].url | relative_url }}">
          <span>Next</span> ⇨
      </a>
    {% else %}
      <a class="grayed-out" disabled="true">
          <span>Next</span>
      </a>
    {% endif %}
  </div>
</div>