<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="layout_{{ page.layout | slugify }}">

    {%- include header.html -%}

    <main id="main_content" class="page-content">

      {% capture wrapper_class %}wrapper category-{{ page.category }}{% endcapture %}
      <div class="{{wrapper_class}}">
        
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {% if page.layout == "tei" %}<script src="{{site.baseurl}}/assets/js/item_gallery_lightbox.js"></script>{% endif %}
    {% if page.layout == "tei" %}<script src="{{site.baseurl}}/assets/js/fancybox.min.js"></script>{% endif %}

  </body>

</html>