---
layout: default
---
<article class="chapter">

{% include paginate_variables.html %}

{% include paginate_links.html %}

<!-- Book chapter metadata -->
{% if page.category == "books" %}
<div class="metadata-box">
  <details><!-- to start expanded: <details open> -->
    <summary>
      <h2>Metadata</h2>
    </summary>
    <div class="details-content">
      <ul>
        {% if page.chapter_number %}
          <li><strong>Title:</strong> {{ page.title }}</li>
          {% if page.book_title %}
          <li><strong>Book Title:</strong> {{ page.book_title }}</li>
          {% endif %}
        {% elsif page.book_title %}
          <li><strong>Title</strong>: {{ page.book_title }}</li>
        {% elsif page.title %}
          <li><strong>Title</strong>: {{ page.title }}</li>
        {% endif %}
        {% if page.author %}
          <li><strong>Author</strong>: {{ page.author }}</li>
        {% endif %}
        {% if page.book_editor %}
          <li><strong>Editor</strong>: {{ page.book_editor }}</li>
        {% endif %}
        {% if page.publisher %}
          <li><strong>Publisher</strong>: {{ page.publisher }}</li>
        {% endif %}
        {% if page.publication_place %}
          <li><strong>Place of publication</strong>: {{ page.publication_place }}</li>
        {% endif %}
        {% if page.publication_date %}
          <li><strong>Date of publication</strong>: 
            {% if page.publication_date.size %} {% comment %} Tests if date is in format other than YYYY-MM-DD {% endcomment %}
              {{ page.publication_date }}
            {% else %}
              {{ page.publication_date | date: "%B %e, %Y" }}
            {% endif %}
          </li>
        {% endif %}
        {% if page.pages %}
          <li><strong>Pages</strong>: {{ page.pages }}</li>
        {% endif %}
        {% if page.contributors or page.file_edited_by or site.editor %}
        <li class="about-this-edition"><h3>About the Digital Edition</h3>
          <ul>
            {% if page.contributors %}
              <li><strong>Contributors:</strong> {{ page.contributors | array_to_sentence_string }}</li>
            {% endif %}
            {% if page.file_edited_by %}
              <li><strong>Edited by</strong>: {{ page.file_edited_by | array_to_sentence_string }}</li>
            {% elsif site.editor %}
              <li><strong>Edited by</strong>: {{ site.editor }}</li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </details>
</div>
{% endif %}

<!-- Periodical metadata -->
{% if page.category == "periodicals" %}
<div class="metadata-box">
  {% comment %}
    To load page with metadata box expanded, use <details open> 
    To load page with metadata box closed, use <details>
  {% endcomment %}
  <details open>
    <summary>
      <h2>Metadata</h2>
    </summary>
    <div class="details-content">
      <ul>
        {% if page.article_title %}
          <li><strong>Title</strong>: {{ page.article_title }}</li>
        {% elsif page.title %}
          <li><strong>Title</strong>: {{ page.title }}</li>
        {% endif %}
        {% if page.author %}
          <li><strong>Author</strong>: {{ page.author }}</li>
        {% endif %}
        {% if page.publication_title %}
          <li><strong>Publisher</strong>: {{ page.publication_title }}</li>
        {% endif %}
        {% if page.publication_place %}
          <li><strong>Place of publication</strong>: {{ page.publication_place }}</li>
        {% endif %}
        {% if page.publication_date %}
          <li><strong>Date of publication</strong>: 
            {% if page.publication_date.size %} {% comment %} Tests if date is in format other than YYYY-MM-DD {% endcomment %}
              {{ page.publication_date }}
            {% else %}
              {{ page.publication_date | date: "%B %e, %Y" }}
            {% endif %}
          </li>
        {% endif %}
        {% if page.pages %}
          <li><strong>Pages</strong>: {{ page.pages }}</li>
        {% endif %}
        {% if page.contributors %}
          <li><strong>Contributors:</strong> {{ page.contributors | array_to_sentence_string }}</li>
        {% endif %}
        {% if page.file_edited_by %}
          <li><strong>Edited by</strong>: {{ page.file_edited_by | array_to_sentence_string }}</li>
        {% elsif site.editor %}
          <li><strong>Edited by</strong>: {{ site.editor }}</li>
        {% endif %}
      </ul>
    </div>

  </details>
</div>
{% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {% include paginate_links.html %}

</article>